/* books-table.component.scss */

table {
  width: 100%;
   background-color: var(--mdc-elevated-card-container-color, #fafafa);
}

.table-container {
  max-height: calc(100vh - 23rem); 
  overflow: auto; 
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 4px;

  /* Estilos da Scrollbar para FIREFOX (Modo Claro) */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;

  /* Estilos da Scrollbar para CHROME, EDGE, SAFARI (Modo Claro) */
  &::-webkit-scrollbar {
    width: 8px; /* Largura da barra vertical */
    height: 8px; /* Altura da barra horizontal */
  }
  &::-webkit-scrollbar-track {
    background: transparent; /* Fundo da calha transparente */
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3); 
  }
}

/* Opcional: margem para o paginador não ficar colado */
mat-paginator {
  border-top: 1px solid rgba(0,0,0,0.12);
  background-color: var(--mdc-elevated-card-container-color, #fafafa);
}


/* 1. DISPONÍVEL (Verde) */
::ng-deep .available {
  --mdc-chip-elevated-container-color: #e8f5e9;
  --mdc-chip-label-text-color: #000000;      
}

/* 2. INDISPONÍVEL (Vermelho) */
::ng-deep .unavailable {
  --mdc-chip-elevated-container-color: #d1485d; 
  --mdc-chip-label-text-color: #ffffff;       
}

/* --- MODO ESCURO  --- */
:host-context(.dark-theme) {

  .table-container {
    border-color: rgba(255, 255, 255, 0.12); 
    
    /* Firefox (Modo Escuro) */
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;

    /* Chrome/Edge/Safari (Modo Escuro) */
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.2); /* Branco semitransparente */
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  /* Sobrescreve as variáveis para o modo escuro */
  ::ng-deep .available {
    --mdc-chip-elevated-container-color: #70eb7b; 
    --mdc-chip-label-text-color: #000000;       
  }

  ::ng-deep .unavailable {
    --mdc-chip-elevated-container-color: #d1485d; 
    --mdc-chip-label-text-color: #ffffff;       
  }
}