@use '@angular/material' as mat;

@include mat.core();

// --- DEFINIÇÃO DO TEMA (Material 3) ---
$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
    tertiary: mat.$orange-palette,
  ),
  typography: (
    brand-family: 'Roboto, "Helvetica Neue", sans-serif',
    plain-family: 'Roboto, "Helvetica Neue", sans-serif',
  ),
  density: (
    scale: 0,
  )
));

// --- TEMA ESCURO ---
$my-dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
    tertiary: mat.$orange-palette,
  ),
));

// --- APLICAÇÃO GLOBAL ---
html {
  @include mat.all-component-themes($my-theme);
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  color: black;
}

// --- DARK THEME ---
.dark-theme {
  @include mat.all-component-colors($my-dark-theme);
}