<div class="page-container">
  
  <mat-toolbar color="primary" class="page-toolbar">
    <span class="toolbar-title">Books Management</span>
  </mat-toolbar>

  <mat-card class="filters-card">
    <mat-card-content>
      <div class="search-container">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Search books</mat-label>
          <input matInput 
            placeholder="User, email title..." 
            [(ngModel)]="searchQuery" 
            (ngModelChange)="onSearchChange($event)">
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Table -->
  <mat-card>
    <mat-card-content>
      <app-books-table 
        [data]="loansData()" 
        [columns]="tableConfig()"
        [totalItems]="totalLoans()"
        [pageSize]="currentPageSize"
        [pageIndex]="currentPageIndex - 1"
        (pageChange)="onPageChange($event)"
        (actionClicked)="handleTableAction($event)">
      </app-books-table>
    </mat-card-content>
  </mat-card>

</div>