.search-block {
  /* "flex: 1" diz "ocupa todo o espaço vazio disponível" */
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.search-field {
  min-width: 15rem;
  width: 50%;
  max-width: 55rem;
}
.search-field:focus-within {
    transition: 300ms;
}