<div class="logo-area">
  <mat-icon>library_books</mat-icon>
  <span>BiblioTech</span>
</div>

<mat-nav-list>
  <a mat-list-item routerLink="/">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Dashboard</span>
  </a>
  
  <a mat-list-item routerLink="/books">
    <mat-icon matListItemIcon>book</mat-icon>
    <span matListItemTitle>Livros</span>
  </a>

  <a mat-list-item routerLink="/readers">
    <mat-icon matListItemIcon>people</mat-icon>
    <span matListItemTitle>Leitores</span>
  </a>
</mat-nav-list>