<div class="dashboard-container">

    
  
  <!-- BOAS VINDAS -->
  <div class="welcome-header">
    <h1>Hi, {{ username() }}!</h1>
  </div>

  

  <!-- ESTATÍSTICAS (KPIs) -->
  <div class="stats-grid">
    <mat-card class="stat-card">
      <mat-icon color="primary">menu_book</mat-icon>
      <div class="stat-info">
        <h3>{{ stats().activeCount }}</h3>
        <p>Active loans</p>
      </div>
    </mat-card>

    <mat-card class="stat-card">
      <mat-icon style="color: #4CAF50;">done_all</mat-icon>
      <div class="stat-info">
        <h3>{{ stats().returnedCount }}</h3>
        <p>Returned Books</p>
      </div>
    </mat-card>

    <mat-card class="stat-card">
      <mat-icon color="accent">hourglass_empty</mat-icon>
      <div class="stat-info">
        <h3>{{ stats().pendingCount }}</h3>
        <p>Pending Approval</p>
      </div>
    </mat-card>
  </div>

  <div class="main-content">
    
    <div class="loans-section">
      <h2>My Loans</h2>
      
      <div class="loans-grid">
        @for (loan of activeLoans(); track loan.title) {
          <app-loan-card 
            [loan]="loan" 
            [isAdmin]="true" >
          </app-loan-card>
        } @empty {
          <!-- @empty is a feature of Angular for when the array is empty! -->
          <p class="no-loans-msg" style="color: #666;">You don't have any active or pending loans at the moment.</p>
        }
      </div>
    </div>

    <div class="wishlist-section">
      <h2>My Wishlist</h2>
      <mat-card class="wishlist-card">
        <mat-list>
          @for (book of wishlist; track book.title) {
            <mat-list-item>
              <mat-icon matListItemIcon color="accent">favorite_border</mat-icon>
              <div matListItemTitle>{{ book.title }}</div>
              <div matListItemLine>{{ book.author }}</div>
            </mat-list-item>
          }
        </mat-list>
        <mat-card-actions align="end">
          <button mat-button color="primary">See All</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>